numpy<2.4
pandas
matplotlib
seaborn
scikit-learn
jupyter
nltk
spacy
beautifulsoup4
gensim
wordfreq
plotly
# openai
groq
streamlit
umap-learn
transformers
sentencepiece
torch
sentence-transformers